* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
}

.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 100px;
}

.header-buy {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 600px;
}